@import url('./src/fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    --fundo: #0a0a0a;
    --secundaria: #120646;
}

body {
    background: var(--fundo);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    background-color: var(--secundaria);
    display: flex;
    width: 700px;
    min-height: 300px;
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    font-family: 'robots';
    font-size: 0.9rem;
    height: 100%;
}

.title {
    font-family: 'robots';
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

form>input[type=text] {
    margin-top: 5px;
    outline: none;
    border: solid 2px var(--fundo);
    border-radius: 5px;
    height: 1.5rem;
    margin-bottom: 10px;
    padding-left: 10px;
}

.style-select-div {
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.style-select-div>label {
    margin-right: 10px;
}

.style-select-div>select {
    border: solid 2px var(--fundo);
    outline: none;
    border-radius: 5px;
    height: 1.5rem;
    font-family: 'robots';
}

.background-checkbox-div {
    margin-bottom: 10px;
    margin-left: 5px;
}

form>button {
    margin-top: 30px;
    background-color: #5f1e00;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 2rem;
    color: white;
    align-self: center;
    border-radius: 5px;
    font-family: 'robots';
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.download-btn {
    background-color: #5f1e00;
    height: 2rem;
    font-family: 'robots';
    text-decoration: none;
    color: white;
    width: 180px;
    border-radius: 5px;
    margin-top: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:720px) {
    .card {
        flex-direction: column;
        min-width: max-content;
        align-items: center;
        max-width: 90vw;
    }

    form {
        max-width: 85vw;
        margin-right: 0;
    }

    form>button {
        margin-top: 20px;
        align-self: center;
    }

    .profile-pic {
        margin-top: 10px;
    }
}